In [1]:
s="Prashant"

In [2]:
type(s)

str

In [3]:
s[0]

'P'

In [4]:
s[1]

'r'

In [5]:
s[2]

'a'

In [6]:
s[3]

's'

In [7]:
s[4]

'h'

In [8]:
s[11]

IndexError: string index out of range

In [9]:
s[0:100]

'Prashant'

In [10]:
s[-1:-100]

''

In [11]:
s[0:10:2]

'Pahn'

In [12]:
s[0:100:-1]

''

In [13]:
s[0::1]

'Prashant'

In [14]:
s[0::2]

'Pahn'

In [15]:
s[0::3]

'Psn'

In [16]:
s*3

'PrashantPrashantPrashant'

In [18]:
s+" Kumar"

'Prashant Kumar'

In [19]:
len(s)

8

In [21]:
s.find('a')

2

In [22]:
s.find("sh")

3

In [23]:
s.count("a")

2

In [25]:
l=s.split()

In [26]:
l[0]

'Prashant'

In [28]:
l[0:]

['Prashant']

In [29]:
s.upper()

'PRASHANT'

In [30]:
s.lower()

'prashant'

In [31]:
p="KuMaR"

In [32]:
p.swapcase()

'kUmAr'

In [33]:
p.upper()

'KUMAR'

In [34]:
p.lower()

'kumar'

In [35]:
p

'KuMaR'

In [36]:
s.title()

'Prashant'

In [37]:
p.title()

'Kumar'

In [39]:
p.capitalize()

'Kumar'

In [42]:
p.encode()

b'KuMaR'

In [43]:
s.encode()

b'Prashant'

In [44]:
l1=[1,2,3,4]

In [52]:
l1.extend([5,6,7])

In [53]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [54]:
l1.append([8,9])

In [55]:
l1

[1, 2, 3, 4, 5, 6, 7, [8, 9]]

In [58]:
l1.insert(8,[10,11])

In [59]:
l1

[1, 2, 3, 4, 5, 6, 7, [8, 9], [10, 11]]

In [60]:
l1.insert(11,[1,2])

In [61]:
l1

[1, 2, 3, 4, 5, 6, 7, [8, 9], [10, 11], [1, 2]]

In [69]:
l=["prashant","Kumar",9999,9+6j,99.9]

In [64]:
l[2]

'9999'

In [66]:
l[2]

9999

In [70]:
l[3]

(9+6j)

In [2]:
a=200
for i in range(100,a+1):
    print(i,end=' ')

100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200

In [19]:
for i in range(26):
    print(chr(97+i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [14]:
a=98

In [15]:
chr(a)

'b'

In [20]:
for i in range(26):
    print(chr(65+i),end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [38]:
n=int(input('Enter the number : '))
for i in range(n,0,-1):
    print(i,end=' ')

Enter the number : 10
10 9 8 7 6 5 4 3 2 1

In [40]:
n=int(input('Enter the number : '))
for i in range(1,n+1,3):
    print(i,end=' ')

Enter the number : 100
1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97 100

In [45]:
n=int(input('Enter the number to print table'))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number to print table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [46]:
a=pow(3,2)

In [47]:
a

9

In [60]:
n=int(input('Enter the number : '))
i=int(input('Enter the power : '))
num=n
for j in range(1,i):
    num=num*n
print(num)

Enter the number : 5
Enter the power : 6
15625

In [66]:
n=int(input('Enter the number : '))
sum=0
for i in range(1,n+1):
    sum+=i
    
print(sum)

Enter the number : 5
15

In [70]:
n=int(input('Enter the number : '))
sum=n*(n+1)/2
print(sum)

Enter the number : 7
28.0

In [73]:
n=int(input('Enter the number : '))
sum=0
for i in range(1,n+1):
    sum=sum+i*i
    
print(sum)

Enter the number : 4
30

In [18]:
n=int(input('Enter the number : '))
fact=1
if n<0:
    print('Sorry, factorial does not exist for negative numbers')
elif n==0:
    print('The factorial of 0 is 1')
else:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

Enter the number : 6
720

In [42]:
#prime
n=int(input('Enter the number : '))
if n < 2:
    print('The number is not prime!')
else:
    for i in range(2,n):
        if(n%i==0):
            print(n,'Not Prime!')
            break
    else:
        print(n,'is the prime number!')

Enter the number : 7
7 is the prime number!

In [69]:
n=int(input('Enter the number of terms : '))
fib1=0
fib2=1
count=0
if n <= 0:
    print('Please enter the positive number!')
elif n==1:
    print('Fibonacci sequence upto',n,':',fib1,end=' ')
else:
    print('Fibonacci sequence : ',fib1,fib2,end=' ')
    for i in range(2,n):
        count=fib1+fib2
        print(count,end=' ')
        fib1=fib2
        fib2=count

Enter the number of terms : 4
Fibonacci sequence :  0 1 1 2

In [8]:
n=int(input('Enter the number : '))
for i in range(n):
    for j in range(5):
        print('*',end='')
    print()

Enter the number : 3
*****
*****
*****

In [10]:
n=int(input('Enter the number : '))
for i in range(n):
    for j in range(5):
        print('10',end=' ')
    print()

Enter the number : 4
10 10 10 10 10
10 10 10 10 10
10 10 10 10 10
10 10 10 10 10

In [11]:
n=int(input('Enter the number : '))
for i in range(1,n+1):
    for j in range(5):
        print(i,end=' ')
    print()

Enter the number : 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [16]:
n=int(input('Enter the number : '))
for i in range(n):
    for j in range(1,6):
        print(j,end=' ')
    print()

Enter the number : 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [32]:
n=int(input('Enter the number of row : '))
for i in range(n):
    for j in range(5,0,-1):
        print(j,end=' ')
    print()

Enter the number of row : 5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [20]:
n=int(input('Enter the number of row : '))
for i in range(n):
    for j in range(1,6):
        print(j**2,end=' ')
    print()

Enter the number of row : 5
1 4 9 16 25
1 4 9 16 25
1 4 9 16 25
1 4 9 16 25
1 4 9 16 25

In [23]:
n=int(input('Enter the number of row : '))
for i in range(n):
    for j in range(5):
        print(chr(97+i),end=' ')
    print()

Enter the number of row : 5
a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [26]:
n=int(input('Enter the number of row : '))
for i in range(n):
    for j in range(5):
        print(chr(97+j),end=' ')
    print()

Enter the number of row : 5
a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [30]:
n=int(input('Enter the number of row : '))
m=int(input('Enter the number of col : '))
count=1
for i in range(n):
    for j in range(1,m+1):
        print(count,end=' ')
        count +=1
    print()

Enter the number of row : 5
Enter the number of col : 5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [36]:
n=int(input('Enter the number of row : '))
m=int(input('Enter the number of col : '))

for i in range(1,n+1):
    for j in range(1,m+1):
        num=(i-1)*5+j
        print(num,end=' ')
    print()

Enter the number of row : 5
Enter the number of col : 5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [25]:
row=int(input('Enter the number of row : '))

for i in range(1,row+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

Enter the number of row : 5
*
* *
* * *
* * * *
* * * * *

In [24]:
row=int(input('Enter the number of row : '))
for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

Enter the number of row : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
row=int(input('Enter the number of row : '))
for i in range(1,row+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

Enter the number of row : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [22]:
row=int(input('Enter the number of row : '))
for i in range(1,row+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

Enter the number of row : 6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [31]:
row=int(input('Enter the number of row : '))
for i in range(row):
    for j in range(i+1):
        print(chr(97+i),end=' ')
    print()

Enter the number of row : 5
a
b b
c c c
d d d d
e e e e e

In [39]:
n=int(input('Enter the number of row : '))
for row in range(n):
    for col in range(n,row,-1):
        print('*',end=' ')
    print()

Enter the number of row : 5
* * * * *
* * * *
* * *
* *
*

In [45]:
n=int(input('Enter the number of row : '))
for row in range(n,0,-1):
    for j in range(1,row+1):
        print(j,end=' ')
    print()

Enter the number of row : 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [47]:
n=int(input('Enter the number of row : '))
for row in range(n,0,-1):
    for j in range(row,0,-1):
        print(j,end=' ')
    print()

Enter the number of row : 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [1]:
n=int(input('Enter the number of row : '))
for row in range(n,0,-1):
    for j in range(n,row-1,-1):
        print(j,end=' ')
    print()

Enter the number of row : 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [13]:
n=int(input('Enter the number of row : '))
for row in range(1,n+1):
    for j in range(1,n-row+1):
        print(' ',end='')
    for col in range(1,row+1):
        print('*',end='')
    print()

Enter the number of row : 7
      *
     **
    ***
   ****
  *****
 ******
*******

In [21]:
n=int(input('Enter the number of row : '))
for row in range(1,n+1):
    for j in range(n-row):
        print(' ',end='')
    for col in range(1,row+1):
        print(row,end='')
    print()

Enter the number of row : 5
    1
   22
  333
 4444
55555

In [24]:
n=int(input('Enter the number of row : '))
for row in range(1,n+1):
    for j in range(n-row):
        print(' ',end=' ')
    for col in range(1,row+1):
        print(col,end=' ')
    print()

Enter the number of row : 7
            1
          1 2
        1 2 3
      1 2 3 4
    1 2 3 4 5
  1 2 3 4 5 6
1 2 3 4 5 6 7

In [28]:
n=int(input('Enter the number of row : '))
for row in range(1,n+1):
    for col in range(n-row):
        print(' ',end=' ')
    for col in range(row):
        print(chr(65+col),end=' ')
    print()

Enter the number of row : 5
        A
      A B
    A B C
  A B C D
A B C D E

In [29]:
n=int(input('Enter the number of row : '))
for row in range(1,n+1):
    for col in range(n-row):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print(col,end=' ')
    print()

Enter the number of row : 6
          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1
6 5 4 3 2 1

In [ ]:
n=int(input('Enter the number of row : '))
for