In [1]:
import numpy as np

In [2]:
l=["prashant",1,2,3,4,5,6]

In [3]:
type(l)

list

In [4]:
np.array(l)

array(['prashant', '1', '2', '3', '4', '5', '6'], dtype='<U11')

In [6]:
type(np.array(l))

numpy.ndarray

In [7]:
np.array([3,4,5,6,3.0])

array([3., 4., 5., 6., 3.])

In [9]:
a=np.array([[1,2],[3,4]])

In [10]:
a

array([[1, 2],
       [3, 4]])

In [11]:
a[1]

array([3, 4])

In [12]:
a[1,1]

4

In [21]:
a2=np.array([1,2,3,4],ndmin=4)

In [29]:
a2[0][0][0][2]

3

In [30]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [31]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [32]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [33]:
a=[1,2,3,4,5]

In [34]:
np.asarray(a)

array([1, 2, 3, 4, 5])

In [35]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [36]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [37]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [38]:
np.fromfunction(lambda i,j:i==j,(3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [39]:
np.fromfunction(lambda i,j:i*j,(4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [40]:
np.fromfunction(lambda i,j:i*j,(4,4),dtype=int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [41]:
np.mat(np.fromfunction(lambda i,j:i*j,(4,4),dtype=int))

matrix([[0, 0, 0, 0],
        [0, 1, 2, 3],
        [0, 2, 4, 6],
        [0, 3, 6, 9]])

In [43]:
np.fromfunction(lambda i,j,z:i*j*z,(3,3,2),dtype=int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [3]:
a=np.fromfunction(lambda i,j,z,p:i*j*z*p,(4,3,2,2),dtype=int)

In [4]:
a

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [5]:
a.ndim

4

In [6]:
a.size

48

In [7]:
a.shape

(4, 3, 2, 2)

In [8]:
a.dtype

dtype('int32')

In [9]:
a

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [11]:
import pandas as pd
pd.DataFrame(a)

ValueError: Must pass 2-d input. shape=(4, 3, 2, 2)

In [12]:
a=np.fromfunction(lambda i,j:i*j,(4,3),dtype=int)

In [13]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [14]:
a=np.fromfunction(lambda i,j:i*j,(400,100),dtype=int)

In [15]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,35550,35945,36340,36735,37130,37525,37920,38315,38710,39105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,35640,36036,36432,36828,37224,37620,38016,38412,38808,39204
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,35730,36127,36524,36921,37318,37715,38112,38509,38906,39303
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,35820,36218,36616,37014,37412,37810,38208,38606,39004,39402
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,35910,36309,36708,37107,37506,37905,38304,38703,39102,39501

In [16]:
np.random.rand(100,4)

array([[6.30670685e-01, 3.79682857e-01, 4.71849479e-01, 6.09659114e-01],
       [3.04383772e-02, 6.87865298e-01, 6.85096025e-01, 6.23180265e-01],
       [2.96685418e-01, 6.55691329e-01, 6.23468306e-01, 8.69633888e-01],
       [3.55566435e-01, 1.15524976e-01, 9.89476455e-01, 4.35857508e-01],
       [6.77707437e-01, 9.35688179e-01, 6.78815000e-02, 3.43158106e-01],
       [1.39607864e-01, 3.34044784e-01, 2.94643056e-01, 7.24182928e-01],
       [8.21854203e-01, 6.06684524e-01, 4.62107722e-01, 3.41149018e-01],
       [4.11122299e-01, 8.21554189e-02, 1.48027795e-01, 6.37357018e-01],
       [5.98351274e-02, 3.56775536e-01, 4.61631236e-01, 7.05907413e-01],
       [1.73912263e-01, 9.55025756e-01, 3.92547481e-01, 9.13502961e-01],
       [5.85616803e-01, 4.37263139e-01, 3.77248358e-01, 2.42221261e-01],
       [2.04642882e-01, 3.17636776e-01, 9.34614313e-01, 6.16893956e-01],
       [4.25164530e-02, 5.54507406e-01, 4.34970078e-01, 8.29003998e-02],
       [1.79601671e-01, 4.15334510e-01, 7.27475063e-01, 6.81632938e-01],
       [9.34550238e-01, 4.15823263e-01, 7.67375922e-01, 4.07809090e-01],
       [8.31444567e-01, 2.73379513e-01, 6.55136714e-01, 1.81291328e-01],
       [2.46573082e-01, 3.03183272e-01, 9.26949514e-01, 4.63641787e-01],
       [8.94913794e-02, 5.27937075e-01, 1.06984198e-01, 9.73673445e-01],
       [9.53212522e-01, 8.96132775e-01, 5.79061227e-01, 8.11566921e-01],
       [5.97857564e-01, 2.66071947e-01, 1.92060610e-02, 5.55114721e-01],
       [5.26372420e-01, 4.30073372e-01, 8.69191433e-01, 2.22345517e-01],
       [1.04271343e-01, 9.21307346e-01, 2.42450214e-02, 5.28681604e-01],
       [9.91922675e-01, 5.94920643e-01, 6.26550209e-01, 6.76461454e-01],
       [9.35869653e-01, 6.91260258e-01, 9.14968129e-01, 1.37123231e-01],
       [3.32938165e-01, 3.45653464e-01, 6.94479330e-01, 1.16994046e-03],
       [6.38834399e-01, 1.16738599e-01, 7.73640626e-01, 2.18724008e-01],
       [3.37040395e-01, 9.97909915e-01, 8.66315263e-01, 3.34136216e-01],
       [2.99985163e-01, 3.18010482e-01, 9.88297058e-01, 6.05069729e-01],
       [2.26972225e-01, 9.82258927e-01, 5.29013160e-01, 2.56435114e-01],
       [5.64416330e-01, 5.49842422e-01, 7.26112473e-01, 9.59101239e-01],
       [3.05777064e-01, 8.23507672e-01, 8.89933780e-01, 2.44914999e-02],
       [1.86390536e-01, 8.14444569e-01, 9.98440448e-01, 9.71048275e-01],
       [2.49032776e-01, 2.99906504e-01, 5.54484877e-01, 4.11646300e-01],
       [1.39987904e-01, 3.05812972e-01, 7.51296056e-01, 1.84979153e-02],
       [7.55956825e-01, 4.06848846e-01, 6.69536182e-01, 7.82168958e-02],
       [8.42787329e-01, 9.47547380e-01, 4.08631607e-02, 9.72601601e-01],
       [8.68252582e-01, 9.63175757e-01, 7.80290746e-01, 2.29977560e-01],
       [3.39172147e-01, 5.19953554e-01, 8.88726784e-01, 5.95856021e-02],
       [5.75711207e-01, 9.63504082e-01, 8.54712793e-01, 2.79614460e-01],
       [5.53174316e-01, 7.86945870e-01, 6.73440663e-01, 7.98789782e-01],
       [5.65754816e-01, 1.00330543e-01, 5.13484331e-01, 7.81817997e-01],
       [4.09969130e-01, 3.10935708e-01, 6.20633120e-01, 8.42735160e-01],
       [9.18441178e-01, 7.93240691e-01, 9.39347151e-02, 2.26700127e-02],
       [6.45365664e-01, 1.67728991e-01, 7.40165747e-01, 9.19552142e-01],
       [9.06740845e-02, 1.11431691e-01, 8.37051026e-01, 1.84956198e-01],
       [8.92854162e-01, 1.38118485e-02, 8.26775554e-01, 4.51573554e-01],
       [3.33957196e-01, 8.36254967e-03, 1.15051308e-01, 8.98134647e-01],
       [2.67344370e-01, 4.02487587e-01, 6.92107873e-01, 9.74244851e-01],
       [5.95485071e-01, 9.28165406e-01, 2.72299641e-05, 7.86737267e-03],
       [6.79708639e-01, 4.59677348e-01, 8.30930837e-01, 9.87750266e-02],
       [4.95108897e-01, 8.54851605e-01, 2.74558089e-01, 6.43179120e-01],
       [1.83163847e-01, 4.44140464e-02, 5.99352434e-01, 9.75590978e-01],
       [5.43123216e-01, 1.07812878e-01, 1.62785096e-01, 4.14148003e-01],
       [9.41990041e-01, 3.18404621e-01, 4.27688211e-01, 2.50232194e-01],
       [6.71893086e-01, 8.75489437e-02, 8.64842285e-01, 5.28184986e-01],
       [9.09466866e-01, 4.54185840e-01, 1.35247328e-01, 3.64513965e-01],
       [4.29127946e-01, 8.30991156e-01, 2.08132977e-01, 2.26444503e-01],
       [6.38597342e-01, 4.51973402e-01, 8.33761806e-01, 2.37599848e-01],
       [1.91750045e-01, 1.38217328e-01, 4.93149415e-01, 3.40697049e-01],
       [5.94268444e-01, 1.14190314e-01, 6.34687127e-01, 1.24294675e-01],
       [9.74588904e-01, 1.54246008e-01, 2.10940487e-01, 2.59974775e-01],
       [4.55737260e-01, 3.19124591e-02, 9.25833937e-01, 5.45499723e-01],
       [2.62521833e-01, 5.07307131e-01, 3.03652435e-01, 5.59116887e-01],
       [2.65489485e-03, 6.36964217e-01, 5.26011203e-01, 4.68560199e-01],
       [9.24286053e-02, 1.70267804e-02, 2.94421063e-01, 8.18483050e-01],
       [9.45124444e-01, 1.39676027e-01, 1.18680077e-01, 5.30788399e-01],
       [9.02482058e-01, 1.74747164e-01, 7.03362357e-02, 8.08733228e-01],
       [1.46187523e-01, 1.98306852e-02, 6.05813413e-01, 9.14028320e-01],
       [8.36387419e-02, 8.48493532e-02, 7.95748210e-01, 9.22420080e-01],
       [2.17098153e-01, 4.88796786e-01, 7.78629665e-01, 4.25692057e-01],
       [4.91578753e-02, 6.43292068e-01, 7.44771589e-01, 9.14154160e-01],
       [1.04318253e-01, 5.68847069e-02, 3.06436228e-01, 1.40862346e-01],
       [1.35033427e-01, 3.98608434e-02, 2.46658534e-01, 3.46975248e-01],
       [6.12008913e-01, 6.01910069e-01, 2.70407550e-01, 7.45453417e-01],
       [7.63226994e-01, 3.57031565e-01, 9.72676995e-01, 8.51979135e-01],
       [8.20086398e-01, 6.28375170e-01, 6.01603624e-01, 6.88642137e-01],
       [1.33785687e-01, 5.81447197e-01, 6.54929114e-02, 6.53512299e-01],
       [8.14016193e-01, 6.23821400e-01, 7.04311087e-01, 3.37568206e-01],
       [8.02030201e-01, 6.43325474e-01, 3.68131600e-01, 4.31571388e-01],
       [1.11411104e-02, 4.30396981e-01, 2.54515946e-01, 2.91846885e-01],
       [7.15254004e-01, 4.51241370e-01, 1.32912241e-01, 9.72703067e-01],
       [3.82666080e-01, 9.86432734e-01, 4.26021017e-01, 1.49033984e-01],
       [3.61843167e-01, 4.36242503e-01, 1.50420902e-01, 1.19152260e-01],
       [6.51347729e-01, 4.38871650e-01, 6.41025833e-01, 3.36990297e-01],
       [3.55230414e-01, 3.12238124e-01, 3.65370116e-01, 7.93804939e-01],
       [9.74617464e-01, 3.89596970e-01, 4.21906482e-01, 4.46597937e-02],
       [6.51220299e-01, 5.36382971e-01, 4.66657109e-01, 9.62779146e-01],
       [1.99079402e-01, 8.83713158e-01, 6.98156874e-01, 9.82950207e-01],
       [1.61749654e-01, 5.33710102e-01, 7.01956726e-01, 9.46013866e-01],
       [3.10407111e-01, 7.07773680e-01, 8.45739988e-01, 4.71968893e-01],
       [8.57274764e-01, 7.80910029e-01, 4.54989899e-01, 7.98036106e-01],
       [9.72177736e-01, 6.49842865e-01, 6.99906935e-01, 6.85794524e-01],
       [2.61129149e-01, 1.71844838e-01, 1.27358210e-01, 9.55491123e-03],
       [4.21425351e-01, 9.78435810e-01, 2.47143292e-01, 4.15743262e-01],
       [5.20552388e-01, 5.31339650e-01, 4.71289658e-01, 6.86839255e-01],
       [4.42872745e-01, 1.65058046e-01, 3.25379843e-03, 9.21155342e-01],
       [6.67347652e-01, 3.71828199e-01, 8.24770156e-01, 5.25995390e-01],
       [1.24346062e-01, 2.97250773e-01, 2.83185220e-01, 5.53354988e-01],
       [7.97684519e-01, 2.48180866e-01, 3.77284410e-01, 8.74960653e-01],
       [6.69222886e-01, 8.91094642e-01, 1.37725076e-01, 2.10219863e-01]])

In [18]:
np.random.randint(4,50)

15

In [19]:
np.random.randint(4,50)

40

In [20]:
np.random.randint(4,50)

35

In [22]:
np.random.randn(4,5)

array([[ 2.12566431,  1.72184858, -0.40043654, -0.14643338, -0.32542522],
       [-0.53214233, -1.23372575, -1.48111777, -0.60027878,  0.70731903],
       [-0.60410712,  1.29514777,  1.76239724,  0.09796422, -0.69327813],
       [ 0.20311367, -0.29559131,  0.3478309 , -0.43683891,  0.11412389]])

In [23]:
np.random.randn(4,5)

array([[-0.00902873,  0.70574645,  0.11308763,  1.69796529, -0.92207475],
       [ 0.78498853,  0.38930645, -0.6556672 ,  0.40322173, -0.61136473],
       [-0.79108682, -0.44101002,  0.66230463,  0.11283649,  0.61876052],
       [ 0.98227016, -2.03612441,  0.69933042,  1.42692198, -0.16497101]])

In [24]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0  1.986351  0.515529  0.257263 -0.674281  0.993798
1 -1.414915  2.041314 -0.894109  1.454905 -0.669362
2  0.021231 -0.066865  0.150086 -0.451127  0.139567
3 -0.396931 -0.931787  0.878959  0.435504 -0.731064

In [25]:
a=np.fromfunction(lambda i,j,z:i*j*z,(4,3,2),dtype=int)

In [26]:
a.reshape(5,5)

ValueError: cannot reshape array of size 24 into shape (5,5)

In [27]:
a.size

24

In [29]:
a.reshape(12,2)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [30]:
pd.DataFrame(a.reshape(12,2))

    0  1
0   0  0
1   0  0
2   0  0
3   0  0
4   0  1
5   0  2
6   0  0
7   0  2
8   0  4
9   0  0
10  0  3
11  0  6

In [31]:
a.reshape(4,-1)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [32]:
a.reshape(4,-2)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [37]:
list(range(4,10,.2))

TypeError: 'float' object cannot be interpreted as an integer

In [40]:
a1=np.arange(4,10,.2)

In [41]:
a1

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [42]:
a1[1:4]

array([4.2, 4.4, 4.6])

In [44]:
arr=np.random.rand(4,5)

In [45]:
arr

array([[0.13220944, 0.96901035, 0.584775  , 0.41087099, 0.86371331],
       [0.7039374 , 0.2150064 , 0.18634917, 0.86464662, 0.90327253],
       [0.10862752, 0.1446727 , 0.00378665, 0.74465344, 0.73486135],
       [0.51906557, 0.00814124, 0.46532262, 0.50775457, 0.37489152]])

In [46]:
arr>.5

array([[False,  True,  True, False,  True],
       [ True, False, False,  True,  True],
       [False, False, False,  True,  True],
       [ True, False, False,  True, False]])

In [47]:
arr[arr>.5]

array([0.96901035, 0.584775  , 0.86371331, 0.7039374 , 0.86464662,
       0.90327253, 0.74465344, 0.73486135, 0.51906557, 0.50775457])

In [48]:
arr[[1,2],[2]]

array([0.18634917, 0.00378665])

In [49]:
arr=np.random.rand(8,5)

In [50]:
arr

array([[0.74882759, 0.73261017, 0.86298251, 0.52423112, 0.82711193],
       [0.19996516, 0.13677762, 0.34771195, 0.72114174, 0.52964909],
       [0.29588648, 0.24428668, 0.40250895, 0.04039053, 0.26871895],
       [0.57278176, 0.48453903, 0.94976264, 0.30463956, 0.68904677],
       [0.3875052 , 0.21099302, 0.38200084, 0.78392851, 0.58902356],
       [0.89345238, 0.51778966, 0.26261094, 0.4520897 , 0.67193586],
       [0.23317   , 0.74258779, 0.0236508 , 0.37710486, 0.0945728 ],
       [0.4726349 , 0.55309786, 0.99815682, 0.37528758, 0.5807634 ]])

In [52]:
arr[[1,7],[0,3]]

array([0.19996516, 0.37528758])

In [55]:
arr[1:8,0:3]

array([[0.19996516, 0.13677762, 0.34771195],
       [0.29588648, 0.24428668, 0.40250895],
       [0.57278176, 0.48453903, 0.94976264],
       [0.3875052 , 0.21099302, 0.38200084],
       [0.89345238, 0.51778966, 0.26261094],
       [0.23317   , 0.74258779, 0.0236508 ],
       [0.4726349 , 0.55309786, 0.99815682]])

In [57]:
arr[0][0]=100

In [58]:
arr

array([[1.00000000e+02, 7.32610173e-01, 8.62982511e-01, 5.24231122e-01,
        8.27111931e-01],
       [1.99965160e-01, 1.36777622e-01, 3.47711947e-01, 7.21141740e-01,
        5.29649091e-01],
       [2.95886479e-01, 2.44286679e-01, 4.02508947e-01, 4.03905325e-02,
        2.68718954e-01],
       [5.72781765e-01, 4.84539028e-01, 9.49762640e-01, 3.04639560e-01,
        6.89046774e-01],
       [3.87505202e-01, 2.10993021e-01, 3.82000844e-01, 7.83928514e-01,
        5.89023560e-01],
       [8.93452382e-01, 5.17789657e-01, 2.62610936e-01, 4.52089699e-01,
        6.71935860e-01],
       [2.33170004e-01, 7.42587793e-01, 2.36508025e-02, 3.77104857e-01,
        9.45727963e-02],
       [4.72634901e-01, 5.53097857e-01, 9.98156823e-01, 3.75287584e-01,
        5.80763405e-01]])

In [62]:
a=np.array([[1,2],[3,4]])
b=np.array([[2,3],[4,5]])

In [63]:
a

array([[1, 2],
       [3, 4]])

In [64]:
b

array([[2, 3],
       [4, 5]])

In [66]:
a*b

array([[ 2,  6],
       [12, 20]])

In [69]:
m=a@b

In [70]:
m/0

C:\Users\PRASHA~1\AppData\Local\Temp/ipykernel_7584/3791875896.py:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])